@using Microsoft.Ajax.Utilities
@model redis_stat.net.ViewModels.NavigationViewModel
@functions {

    /// <summary>The selected.</summary>
    /// <param name="a">The a.</param>
    /// <param name="b">The b.</param>
    /// <returns>The <see cref="bool"/>.</returns>
    public static bool Selected(string a, string b)
    {
        return a == b;
    }

}
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                redis-stat.net
            </a>
            @{
                var selected = Model.Selected;
                var defaultSelected = selected.IsNullOrWhiteSpace();
            }
        </div>
        @if (Model.Hosts.Count() > 1)
        {
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group select2-container">
                        <select id="hostlist" class="form-control">
                            <option value="/" selected="@defaultSelected">All instances</option>
                            @foreach (var host in Model.Hosts)
                            {
                                <option value="@host.Value" selected="@Selected(selected, host.Text)">@host.Text</option>
                            }
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-select2-open="hostlist">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        }
    </div>
</nav>